<div class="app-todo-header">
    <button mat-fab color="primary" class="mat-elevation-z4" aria-label="create a todo" routerLink="todo"
        *ngIf="isListView$ | async">
        <mat-icon>add</mat-icon>
    </button>
    <button mat-fab color="primary" class="mat-elevation-z4" aria-label="save and back to todo list" routerLink=""
        *ngIf="isAddView$ | async">
        <mat-icon>save</mat-icon>
    </button>
    <button mat-fab color="primary" class="mat-elevation-z4" aria-label="delete selected todo" (click) = "deleteTodo()"
        *ngIf="isEditView$ | async">
        <mat-icon>delete</mat-icon>
    </button>
</div>
<div class="app-todo-container mat-elevation-z4">
    <router-outlet></router-outlet>
</div>